@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i,800');
footer > img {
    margin-top: 43px;
}

img {
    max-width: 100%;
}
body {
    font-family: "Open Sans";
}
ul {
    display: flex;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 3.3px;
}

li {
    margin-right: 20px;
}

.main-screen {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
}

.Tomas-rhitm {
    display: flex;
    justify-content: space-between;
    padding: 30px 3% 0 3%;
}
.header__burger_show {
    top: 0;
    right: 0px;
    width: 20%;
    height: 100%;
    background-color: #3B3B3B; 
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    transition: top 1s ease-out 0.5s;*/
}
.header__burger_show > a {
    z-index: 99;
    color: white;
    text-decoration: none;
    position: relative;
    margin-top: 34%;
    font-size: 15px;
    z-index: 150;
    opacity: 1;
}
.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}
@-webkit-keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


.close {
    position: absolute;
    top:15px;
    right: 0px;
    margin-right: 2%;
    color: white;
    z-index: 999;
    font-size: 20px;
    cursor: pointer;
}
.Tomas-rhitm div {
    width: 126px;
    height: 1px;
    background-color: #fff;
}

.Tomas-rhitm a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.logo {
    display: inline-block;
    font-family: "Open Sans - Semibold";
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 3.6px;
    margin-left: 12px;
}

.main-text {
    text-align: center;
}

.main-text>h1 {
    opacity: 0.9;
    color: #fefefe;
    font-family: Dosis;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 51.01px;
    margin-top: 15%;
}

.main-text>p {
    opacity: 0.68;
    color: #fefefe;
    font-family: "Open Sans";
    font-size: 19px;
    font-weight: 300;
    margin-top: 5%;
}

.rhombus-btn {
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    transform: rotate(45deg);
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    bottom: 5%;
}

.rhombus-btn i {
    transform: rotate(-45deg);
    position: absolute;
    top: 12px;
    left: 15px;
}
.rhombus-btn > a {
    color: black;
    text-decoration: none;
}
.container {
    margin: 0 10%;
}

.row-3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.row-3>div {
    width: 32%;
}

/*style for about section*/
.title {
    color: #111111;
    font-family: Dosis;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 9px;
    margin: 6% 0;
    text-align: center;
}

.title-about {
    text-align: left;
}

.subtitle-about {
    height: 195px;
    color: #777777;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 300;
    line-height: 38px;
    transition: all 1s;
    overflow:hidden;
}

.subtitle-about>small {
    font-size: 11px;
}
.height {
    height: 200px;
} 
.text-about {
    height: 195px;
    color: #777777;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    transition: height 1s;
    overflow:hidden;
}

.image-list {
    margin: 6% 0;
}

.worker-name,
.worker-job {
    font-family: 'Dosis', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #777777;
    font-weight: 400;
}

.worker-name {
    font-size: 15px;
    letter-spacing: 6px;
    margin: 30px 0 16px;
}

.worker-job {
    font-size: 12px;
    letter-spacing: 4.8px;
}

/* section digital-services */

.digital-services {
    height: 443px;
    background-color: #111111;
    margin: 5% 0;
}

.list-servises {
    display: flex;
    justify-content: center;
}

.list-servises li {
    text-align: center;
    margin: 0 3%;
    cursor: pointer;
}

.list-servises li:hover {
    color: #000000;
}
.list-servises li span {
    color: #777777;
    font-size: 48px;
    font-weight: 400;
}

.activ-icon,
.list-servises .activ-icon span {
    color: #111111;
}

.white-title {
    color: #ffffff;
    font-family: Dosis;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 5.4px;
}

.white-text {
    opacity: 0.7;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    margin-top: 27px;
}

.white-btn {
    background-color: #ffffff;
    opacity: 0.8;
    color: #111111;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    outline: none;
    /* Text style for "L, ets tal" */
    letter-spacing: 2.8px;
    border: none;
    width: 170px;
    margin: 40px 0;
    padding: 12px 0;
}

.white-btn:hover {
    cursor: pointer;
    opacity: 0.5;
}

.monitor-img {
    float: right;
    margin-top: -40px;
}

.digital-services-contant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 443px;
}

.portfolio-text {
    text-align: center;
    max-width: 50%;
    margin: 0 auto;
}

.portfolio-list {
    display: flex;
    justify-content: center;
}

.portfolio-list li {
    list-style: none;
    color: #111111;
    font-family: Dosis;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5.2px;
    padding: 35px; 
    cursor: pointer;
    opacity: 0.5;
}

.portfolio-list li:hover {
    opacity: 1s;
}
.portfolio-galery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.portfolio-galery > div {

}
.gallarynone {
    display: none;
}
.grey-laer {
    width: 33%;
    filter: grayscale(100%);
}

.grey-laer:hover {
    filter: none;
    cursor: pointer;
}

.creative-works {
    height: 218px;
    background-color: #111111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-start-project {
    width: auto;
    padding: 12px 50px;
    margin: 24px 0 0;
}

/*section Why Choose Us*/
.title-item {
    color: #777777;
    font-family: Dosis;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    text-align: center;
    letter-spacing: 5.6px;
    margin: 35px 0;
    text-transform: uppercase;
}

.custom-icons span {
    color: #111111;
    font-size: 48px;
    font-weight: 400;
    /* Text style for "" */
    letter-spacing: 24px;
}

.custom-icons {
    margin-bottom: 50px;
}

.row-3-center>div {
    text-align: center;
}

.row-margin {
    margin-top: 40px;
}

.subscribe {
    background-color: #f8f8f8;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe-item {
    text-align: center;
}

.subscribe-item button {
    text-transform: uppercase;
    width: 128px;
    height: 39px;
    background-color: #000000;
    color: #c8c8c8;
    opacity: 0.8;
    border: none;
}

.subscribe-item input {
    width: 293px;
    height: 36px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    color: #111111;
}

.subscribe-item p {
    margin-top: 20px;
}

.news-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
}

.news-item p {
    text-align: left;
}

.news-title a {
    color: #999999;
    font-family: Dosis;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4.4px;
    text-decoration: none;
}

.gray-btn {
    background-color: #e6e6e6;
    color: #777777;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 2.2px;
    border: none;
    padding: 0 20px;
    margin-bottom: 20%;
}

.text-news {
    margin: 20px 0;
}

.contacts {
    margin: 0 20%;
}

.contact-inputs {
    display: flex;
    margin-top: 25px;
}
.container_textarea {
    width: 70%;
}
/*section TESTIMONIALS start*/
.TESTIMONIALS {
    height: 483px;
    background-color: rgba(0, 0, 0, 0.9);
    background-color: #111111;
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
/*.fade {
    -webkit-animation-name:fade;
    -webkit-animation-duration:1.5s;
    animation-name:fade;
    animation-duration:1.5s;
}
@-webkit-keyframes:fade{
    from{opacity: 4}
    to{opacity: 1}
}
@keyframes fade{
    from{opacity: 4}
    to{opacity: 1}
}*/

.first_slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 98vw;
}
.first_slide > h3 {
    color: #ffffff;
font-family: Dosis;
font-size: 18px;
font-weight: 300;
text-transform: uppercase;
letter-spacing: 5.4px;
margin-bottom: 43px;
}
.first_slide > p {
    text-align: center;
    opacity: 0.75;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 300;
    width: 46%;
    margin-bottom: 23px;
}
.first_slide > h5 {
    opacity: 0.3;
color: #ffffff;
font-family: "Open Sans";
font-size: 11px;
font-weight: 400;
}
.pref{
    width: 0px;
    height: 0px;
    position: absolute;
    border-top: 43.5px solid transparent;
    border-left: 87px solid #ffffff;
    border-bottom: 43.5px solid transparent;
    top: 198px;
    left: 0;
    cursor: pointer;
}
.next {
    position: relative;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 198px;
    right: 0;
     border-top: 43.5px solid transparent;
    border-right: 87px solid #ffffff;
    border-bottom: 43.5px solid transparent;
    cursor: pointer;
}
.next > i {
    position: absolute;
    top: -11px;
    right: -67px;
    font-size: 24px;
    color: black;
}
.pref > i {
    position: absolute;
    top: -11px;
    left: -67px;
    font-size: 24px;
    color: black;
}
}
.contact-inputs div {
    width: 50%;
    margin: 6% 0 3%;
}

.contact-inputs input,
.contact-inputs textarea {
    width: 98%;
    height: 36px;
    margin: 5px 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #777777;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
}

.contact-inputs textarea {
    height: 85px;
}

.contact-btn {
    display: flex;
    justify-content: space-between;
}

.contact-btn button {
    width: 162px;
}

.sotials {
    position: relative;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sotials .rhombus-btn {
    background-color: black;
    margin: 20px;
}

.sotials li {
    color: #111111;
    width: 15px;
    height: 20px;
    font-family: "Font Awesome";
    font-size: 14px;
    font-weight: 400;
    line-height: 38px;
    text-transform: uppercase;
}

.sotial p {
    color: #111111;
    font-family: Dosis;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 6px;
}

.rhytm {
    margin-top: 10%;
    color: #111111;
    font-family: Dosis;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.Made-with-love {
    color: #999999;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 400;
    line-height: 24px;
}

.g-menu {
    display: none;
}

.rhombus-btn-black {
    margin: 10px;
}

.rhombus-btn-black a {
    color: #000 !important;
    text-decoration: none
}

.container_map {
    width: 100%;
    position: relative;
    z-index: 1;
}
.conteiner_map__wrapper {
    cursor: pointer;
    position: absolute;
    top: 0;
    width: 100%;
    height: 410px;
    z-index: 99;
    background-color: rgba(17, 17, 17, 0.95);  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.5s;
    overflow: hidden;
}
.conteiner_map__wrapper > img {
    transition: all 1s;
}
.conteiner_map__wrapper > p {
    margin-top: 27px;    
    opacity: 0.75;
    color: #ffffff;
    font-family: Dosis;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4.8px;
    cursor: pointer;
}
/*mediaqeris*/
@media screen and (max-width: 1250px) {
    .monitor-img {
        margin-right: -78px;
        width: 500px;
    }
    .digital-services {
        height: 366px;
        margin-top: 80px;
    }
    .height {
    height: 300px;
} 
    .container {
        margin: 0 5%
    }
}
@media screen and (max-width: 850px) {
    .height {
        height: 350px;
    }
    .digital-services {
    margin-top: 100px;
}
}
@media screen and (max-width: 960px) {
    li {
        margin-left: 10px;
    }
    .main-screen {
        height: 100%;
    }

    .g-menu {
        display: block;
    }
    .header_nav {
        display: none;
    }
    .logo {
        font-size: 9px;
    }

    .Tomas-rhitm div {
        width: 110px;
    }
    
    .nav-none {
        display: none;
    }

    .title-about {
        text-align: center;
    }

    .main-text>h1 {
        font-size: 25px;
        letter-spacing: 30px;
    }

    .main-text>p {
        font-size: 15px;
        margin-bottom: 20%;
    }

    .rhombus-btn {
        margin-bottom: -2%;
    }

    .row-3 {
        flex-wrap: wrap;
    }

    .row-3>div {
        width: 48%;
    }

    .row-3 .subtitle-about {
        width: 100%;
    }

    .image-list>div {
        width: 47%;
        text-align: center;
    }
    .worker-job{
        margin-bottom: 10px;
    }

    .monitor-img {
        display: none;
    }

    .list-servises {
        flex-wrap: wrap;
    }

    .portfolio-text {
        max-width: 90%;
    }

    .grey-laer {
        width: 50%;
    }

    .contacts {
        margin: 0 4%;
    }

    .contact-inputs {
        flex-direction: column;
        align-items: flex-start;
    }

    .contact-inputs>div {}

    .contact-btn {
        flex-direction: column;

    }

    .news-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .digital-services {
        margin-top: 50px;
    }
    .digital-services-contant {
        text-align: center;
        align-items: center;
    }

    .contacts {
        text-align: center;
    }

    .contact-inputs input,
    .contact-inputs textarea {
        /*width: 200%;*/
    }

    .subscribe-item {
        align-items: center;
    }

    .subscribe-text {
        margin: 10px;
    }

}

@media screen and (max-width: 600px) {
    li {
        margin-left: 5px;
        margin-right: 6px;
        font-size: 10px;
    }
    .close {
        font-size: 15px;
        top: 5px;
        margin-right: 1%;
    }
    .Tomas-rhitm div {
        width: 94px;
    }
    .logo {
        font-size: 6px;
        margin-left: 6px;
    }
    .main-screen {
        height: 100%;
    }

    .main-text>h1 {
        font-size: 15px;        
        margin-top: 10%;
        letter-spacing: 15px;
    }

    .main-text>p {
        font-size: 10px;
    }

    .rhombus-btn {
        margin-bottom: 0;
        width: 20px;
    height: 20px;
    }
    .rhombus-btn > a > i {
    top: 1px;
    left: 12px;
    bottom: -13px;
    }
    .row-3>div {
        width: 100%;
    }

    .portfolio-list {
        flex-direction: column;
        align-items: center;
    }

    .grey-laer {
        width: 100%;
    }

    .header_nav {
        display: none;
    }

    .digital-services-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .monitorImg {
        display: none;
    }
    .digital-services {
        margin-top: 100px;
    }
    .height {
        height: 500px;
    }
}
